@{
    ViewBag.Title = "About Us";
}

<div class="tablewrap">
    <div class="boxHeader">@ViewBag.Title</div>
    <div class="tablewrapInternal" style="padding-left: 10px; width:680px;">
        <p>
            Bitcoin Bonuses is a site that will have many offers and promotions for Bitcoin related options. This means we will have listings in many different forms. 
            These forms include options in Forex, Exchange, Services, Gambling and Mining.
        </p>
        <p>
            These bonuses are frequented and checked up on to see if they are current. The bonus listings in each table will be up to date and frequently checked upon, making sure that all bonuses are available to you!
        </p>
    </div>
</div>
<div class="contentbox">
    <div class="boxHeader">Need to Contact Us?</div>
    <div class="contentboxInternal">
        <p>
            Looking to contact us? Feel free to email us <a href="mailto: bitcoinbonusguy@bitcoin-bonuses.com"><b>here.</b></a>
        </p>
    </div>
</div>
