@{
    ViewBag.Title = "All Bitcoin Bonuses";
}


<div class="tablewrap">
    <div class="boxHeader">@ViewBag.Title</div>
    <div class="tablewrapInternal">@Html.Partial("_TableDisplay")</div>
</div>
<div class="contentbox">
    <div class="boxHeader">All the Bonuses in a List!</div>
    <div class="contentboxInternal">
        <p>This is all the listings combined into one list! Some people prefer to just scroll through this list rather than go inbetween categories. </p>
    </div>
</div>
