@{
    ViewBag.Title = "Bitcoin Bonuses";
}

@*Put in multiple sections to render for multiple instances on index*@
<div class="tablewrap">
    <div class="boxHeader">@ViewBag.Title: Who are we and What do we Provide?</div>
    <div class="tablewrapInternal" style="padding-left: 10px; width:680px;">
        <p>
            Bitcoin Bonuses is a site that will have many offers and promotions for Bitcoin related options. This means we will have listings in many different forms. 
            These forms include options in Forex, Exchange, Services, Gambling and Mining.
        </p>
        <p>
            This information will allow a person interested in anything Bitcoin multiple options to either buy or sell Bitcoins. There are also other ways to get 
            Bitcoins without the use of currency. Mining, Gambling and other alternatives are available for use with Bitcoins. 
        </p>
        <p>We provide bonuses and opportunities with many sites that accept Bitcoins. Since Bitcoins are gaining in popularity, many sites are accepting them</p>
    </div>
</div>
<div class="contentbox">
    <div class="boxHeader">Bitcoins: What are They?</div>
    <div class="contentboxInternal">
        <img src="~/Images/bitcoinlogomainsite.png"/>
        <p>
            Bitcoins are a virutal currency that has been gaining popularity since the early 2000s. They originally started at a low value (around a dollar) and now have come up 
            to a value over 500 USD. Payments work through peer-to-peer and have no single administrator or central repository. This has resulted in the US Treasury describing 
            the bitcoin as a, "decentralized virtual currency."
        </p>
        <p>
            Bitcoins have been gaining popularity and are used as an online type of currency. As this type of digital currency is expanded upon, more and more companies will accept 
            bitcoins as a payment method. For example: Newegg, a lead online retailer for hardware and software, has started accepting bitcoin. This shows that bitcoins are gaining 
            popularity and are starting to be accepted as a virtual currency for online transactions.
        </p>
        <p> If you want to learn more about how bitcoins work you can visit <a href="https://bitcoin.org/en/" target="_blank">Bitcoin.org</a></p>
    </div>
</div>

@section featured{
    <div class="fullwidthbox">
        <div class="boxHeader">
            Our Affiliates
        </div>
        <div class="fullwidthinternal">

            <div class="float-left" style="width: 475px;">
                <p>
                    Binary Bonus Guy is a site that lists bonuses for Forex Trades and Binary Options. There are multiple ways to earn bonus money on this site. Interested 
                    in dealing with Forex Trades or Binary Options? Check it out by clicking on the Binary Bonus Guy banner to the right!
                </p>
            </div>
            <div class="float-right">
                <a href="http://www.binarybonusguy.com" target="_blank" class="bannerbutton">
                    <img src="~/Images/BBGBannerLogo2.png" />
                </a>
            </div>
        </div>
    </div>
}
